@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Mulish', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
}

.container{
    width: 70%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 440px;
    padding: 15px 35px;
}

.container_profile{
    max-width: 600px;
    padding: 15px
}

.title{
    font-size: 27px;
    font-weight: 600;
    text-decoration: underline 2px solid #4070f4;
    margin-bottom: 17px;
    text-align: center;
}

.message{
    justify-content: center;
    background-color: #2a96ec;
    border-radius: 6px;
    margin: 0 10px 12px 10px;
    padding: 13px;
}

.message.success{
    background-color: #2ccbbe;
}

.message.failure{
    background-color: #d93025;
}

.message-text{
    color: white;
    text-align: center;
    letter-spacing: 1px;
}

.form__error{
    margin-top: 6px;
    align-items: center;
    color: #d93025;
    font-size: 13px;
}

.form__error-icon{
    margin-right: 5px;
    font-size: 14px;
}

.form__field{
    margin-bottom: 20px;
}

.form__input{
    position: relative;
    width: 100%;
}

.form__label, .fake__label{
    display: block;
    margin: 0 0 5px 0;
}


.form__input-value, .fake__input{
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.custom-file{
    color: #7a7a7a;
    padding: 2px;
    font-size: 15px;
}

.custom-file::-webkit-file-upload-button{
     border: none;
     cursor: pointer;
     background-color: #4070f4;
     padding: 4px 6px;
     font-family: 'Mulish', sans-serif;
     color: white;
     border-radius: 8px;
     margin-right: 10px;
     transition: all 0.2s ease;
}

.custom-file::-webkit-file-upload-button:hover{
    background-color: #2855f3;
}

.form__input-file{
    color: transparent;
}

.form__input-icon{
    position: absolute;
    top: 50%;
    transform: translateY(25%);
    color: #999;
    font-size: 15px;
    transition: all 0.2s ease;
}

.form__input-value:is(:focus){
    border-color: #a6cdff;
    box-shadow: 0 0 5px #6aa5ff;
}

.form__input-value:is(:focus) ~ i{
    color: #6aa5ff;
}

.invalid .form__input-value{
    border-color: #d93025;
}

.invalid .form__input-icon, .invalid .form__error-icon, .invalid .form__error-text{
    color: #d93025;
}


.invalid .form__input-value:is(:focus){
    border-color: #ff8474;
    box-shadow: 0 0 5px #fc594a;
}

.invalid .form__input-value:is(:focus) ~ i{
    color: #fc594a;
}

.form__options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
}

.form__checkbox{
    display: flex;
    align-items: center;
}

.form__checkbox-value{
    margin-right: 10px;
    accent-color: #4070f4;
}

.form__link{
    color: #4070f4;
    transition: 0.3s;
}

.form__link:hover{
    text-decoration: underline;
}

.redirect{
    margin-bottom: 15px;
    text-align: center;
}

.redirect__text{
    color: #7e7e7e;
    font-size: 14px;
}

.form__button {
    margin-bottom: 20px;
    padding: 6px 10px;
    color: #fff;
    font-size: 15px;
    border-radius: 8px;
    background-color: #4070f4;
    cursor: pointer;
    transition: 0.3s;
    min-width: 100px;
}

.form__button:hover{
    background-color: #2855f3;
}

.redirect__link{
    color: #4070f4;
}

.redirect__link:hover{
    text-decoration: underline;
}

.profile__layout{
    text-align: left;
    font-size: 18px;
    padding: 5px 25px 25px 25px;
}

.profile__info{
    width: 60%;
    font-size: 16px;
    margin-bottom: 50px;
}

.dropdown{
    position: absolute;
    display: none;
    min-width: 130px;
    background-color: #fdfdfd;
    z-index: 1;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 0 2px #333;
}

.dropdown__button{
    display: block;
    font-size: 13px;
    cursor: pointer;
    background-color: #fdfdfd;
    color: #333;
    padding: 8px 6px;
    border-radius: 3px;
    width: 100%;
    transition: all 0.2s ease;
}

.dropdown__button_delete{
    color: #d93025;
}

.dropdown__button:hover{
    background-color: #f1f1f1;
}

.avatar{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.avatar__content img{
    object-fit: cover;
    transition: all 0.2s ease;
}

.avatar__content img:hover{
    box-shadow: 0 0 10px #6aa5ff;
}

.avatar__image{
    color: #5d5d5d;
    border-radius: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
    margin: 0 15px;
}

.avatar__content:hover > .dropdown{
    display: initial;
}

.profile__button{
    background-color: white;
    color: #4070f4;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 15px;
    transition: all 0.2s ease;
}

.profile__button:hover{
    color: #0034e0;
}

.profile__button_delete{
    color: #d93025;
    margin-bottom: 0;
}

.profile__button_delete:hover{
    color: #ff261a;
}

.hide {
    display: none;
}

.show {
    display: block;
}




